{% extends "templateorg.html" %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style type="text/css">
	aside{
	    padding: 1em;
	    overflow: hidden;
	    float: right;

	}
	section{
		float: left;
	    max-width: 160px;
	    margin: 0;
	    padding: 1em;
		
	}
</style>
<body>
<section>
	<span style="font-family: monospace;"><iframe src="https://calendar.google.com/calendar/embed?src=sgk3vv0b1i506nvp4pjrquf2nc%40group.calendar.google.com&ctz=Asia/Jerusalem" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> </span>
{% for i in my %}
{% for u in v %}
{% if i.id == u.id %}
{% if i.accepted == 1 %}

	<p>Name: {{u.name}} </p>


{% endif %}
{% endif %}

{% endfor %}
{% endfor %}

<link type=”text/css” rel=”stylesheet” href=”969ff39784188d8d017a0c60c8f2558aembedcompiled_fastui.css”>
<script type=”text/javascript” src=”969ff39784188d8d017a0c60c8f2558aembedcompiled__en_gb.js”></script>

</section>
<aside>
	<center><h1> Welcome {{org.name}}</h1></center>
	<h2>Requests</h2>
	{% for i in all_requests %}

	{% for u in volunteers %}

		{% if i.id == u.id %}


		{% if i.accepted == 0 %}


		<h4>Name: <strong>{{u.name}}</strong></h4>
		
		

				<h4>Start time {{i.start_time}} </h4>


			

		
		<h4>How many hours: {{i.length}} </h4>

		<h4> Date: {{i.date}}</h4>
		

	<form action = "{{url_for('accept',nominee_id = i.id)}}" method = "post">

	<input type = "submit" value = "Accept">

	</form>

	<form action = "{{url_for('reject',nominee_id = i.id)}}" method = "post">

	<input type = "submit" value = "Reject">

	</form>
</aside>
{% endif %}
{% endif %}








{% endfor %}

{% endfor %}


<h2>Hours/Feedback Requests</h2>

{% for a in  all_hour_requests %}

{% for z in volunteers %}


	{% if a.volunteer_id == z.id %}
	

	{% if a.worked == 0 %}



	<a href = ""><p>Name: {{z.name}} </p></a>

<form action = "{{url_for('confirm_hours',nominee_id = a.id)}}" method = "post">

<input type = "submit" value = "Accept">

</form>



{% endif %}
{% endif %}




{% endfor %}
{% endfor %}


<br> 
<br>
<br>
{% for b in all_feedback %}
{% for v in volunteers %}

{% if b.id == v.id %}


{% if b.feedback == None %}

<p>Name:{{v.name}}</p>

<form action = "{{url_for('confirm_feedback',nominee_id = b.id)}}" method = "post">
<input type = "text" name = "feedback"> 
<input type = "submit" value = "Send">

</form>

{% endif %}

{% endif %}


{% endfor %}
{% endfor %}



</body>
</html>
{% endblock %}
